#! /bin/bash
# [managed by 50-encfs-scripts.yml]

#
# Use this script to manually unlock the encrypted file stores after a reboot.
#
# You will be asked to type in the pass phrase, then all file stores will be mounted and the SMB services started.
#

set -e

# ---

echo "obtaining key from phrase.gpg"

KEY="$( gpg --textmode --pinentry-mode loopback -d -o - /root/scripts/phrase.gpg )"

# ---

echo "unlocking /mnt/home_decrypted..."

export ENCFS5_CONFIG=/mnt/home_crypted/encfs5

echo "$KEY" | encfs --stdinpass /mnt/home_crypted/panther /mnt/home_decrypted

# ---

echo "starting SMB services..."

systemctl start smbd.service
