#! /bin/bash
# [managed by 50-encfs-scripts.yml]

#
# Use this script to manually unlock the encrypted file stores after a reboot.
#
# You will be asked to type in the pass phrase, then all file stores will be mounted and the SMB services started.
#

set -e

# ---

echo "obtaining key from phrase.gpg"

KEY="$( gpg --textmode --pinentry-mode loopback -d -o - /root/scripts/phrase.gpg )"

# ---

if [ ! -d /mnt/home_decrypted/music ]; then
  echo "unlocking /mnt/home_decrypted..."

  export ENCFS5_CONFIG=/mnt/home_crypted/encfs5
  echo "$KEY" | encfs --stdinpass --public /mnt/home_crypted/panther /mnt/home_decrypted
else
  echo "/mnt/home_decrypted already unlocked - skipped"
fi

# ---

if [ ! -d /mnt/data_decrypted/public ]; then
  echo "unlocking /mnt/data_decrypted..."

  export ENCFS5_CONFIG=/mnt/data_crypted/encfs5
  echo "$KEY" | encfs --stdinpass --public /mnt/data_crypted/panther /mnt/data_decrypted
else
  echo "/mnt/data_decrypted already unlocked - skipped"
fi

# ---

echo "starting SMB services..."

systemctl start nmbd.service
systemctl start smbd.service
