#! /bin/bash
# [managed by 50-encfs-scripts.yml]

#
# back up home_encrypted to hidrive using rsync
#
# intended for use as a cron job
#

# ensure crypted homes are mounted to avoid blanking the backup if not available
if [ ! -d "/mnt/home_crypted/panther" ]; then
    echo "/mnt/home_crypted does not appear to be mounted from NAS - aborting"
    exit 1
fi

# rsync without owners and groups
rsync -rlptDS \
        --progress \
        --delete \
        -e 'ssh -i /root/scripts/hidrive_ssh_key' \
        /mnt/home_crypted/panther/ \
        backup-4135@rsync.hidrive.strato.com:/users/backup-4135/panther/
